@font-face {
  font-family: 'Inter';
  src: url(/fonts/inter/regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'Inter';
  src: url(/fonts/inter/medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: 'Inter';
  src: url(/fonts/inter/semi-bold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: 'Inter';
  src: url(/fonts/inter/bold.ttf);
  font-weight: 700;
}
